<launch>
      <arg name="bag_filename" default="/home/kotaru/catkin_ws/bags/aug/aug12/test3.bag"/>
      <!-- <arg name="bag_filename" default="/home/kotaru/catkin_ws/bags/aug/aug14/singleplane1.bag"/> -->

      <!-- launching the nodelet manager -->
      <node pkg="nodelet" type="nodelet" name="using_image_pipeline_nodelet" args="manager"/>

      <!-- launching point_cloud_xyz nodelet from depth_image_proc -->
      <node pkg="nodelet" type="nodelet" name="point_cloud" args="load depth_image_proc/point_cloud_xyz using_image_pipeline_nodelet" output="screen">
      </node>

      <!-- launching point_cloud_xyz nodelet from depth_image_proc -->
      <node pkg="nodelet" type="nodelet" name="transform_cloud" args="load using_image_pipeline/transform_cloud using_image_pipeline_nodelet" output="screen">
      </node>

      <!-- replace this with a package that publishes /camera_info and /image_rect -->
      <!-- make to sure remap the topics to /camera_info & /image_rect if they are not already published as such-->
      <node pkg="rosbag" type="play" name="player" output="screen" args="--clock --loop $(arg bag_filename)">
            <remap from="/camera/depth/camera_info"     to="/camera_info" />
            <remap from="/camera/depth/image_raw"       to="/image_rect" />
      </node>

</launch>

